<h1> Welcome to Tree Spotter! <h1>
<p>
<h2> <a href="#">Upload photo</a> <h2>

<div class="top-corner">
<img src="https://img.clipartfest.com/9b51ef1db7b08280e23c8cf25cd7e3a2_cartoon-palm-tree-clip-art-cartoon-palm-tree-clipart-transparent_600-566.png">
</div>
